@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css library building using @apply for reusing purpose */
.my-container{
  @apply mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl px-4 md:px-24 lg:px-8
}

.active{
  @apply font-extrabold tracking-wide text-white transition-colors duration-100
}

.bg-gradient{
  background: linear-gradient(90deg, #23bdf5 0%, #a90ae8 100%)
}

.text-gradient{
  background: linear-gradient(to right, #23bdf5, #a90ae8); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* for lazy-loading */
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}